body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.ytimg.com/vi/Dc5QDrErNaw/maxresdefault.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

form, #logging, #server {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
